.form{
   text-align: center;
   margin-top: 60px;
}

.form input{
width: 400px;
outline: none;


}


.form textarea{

    width: 400px;
    height: 150px;
    outline: none;

}
.form div {

    padding-top: 15px;
}
.form #enviar {
    padding-bottom: 100px;
    
}
#enviar button {

    text-decoration: none;
    width: 120px;
    border: 1px solid black;
    border-radius: 6px;
    background: brown;
    color: white;



}
.form #nombre {

    padding: 0;
}
@media only screen and (min-width:360px) and (max-width:479px){


    .form{
        margin-top: 20px;
     }
     .form input{

        width: 290px;
        
        }
        .form textarea{

            width: 290px;
            height: 150px;
        }
        .form #enviar {
            padding-bottom: 60px;
            
        }

}
