#titulo h5{

    text-align: center;
    color: brown;
    font-family:"Latin Modern Roman";
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    margin-top: 80px;
}

#imagenMisión img{  
    clip-path: polygon(0 1%, 100% 0, 84% 100%, 0% 100%);
    width: 100%;
}

#imagenMisión{
width: 96%;
max-width: 960px;
margin-left: 25px;
}

#ParrafoMision{
    padding-left: 25px;
    padding-top: 130px;

}
#ParrafoMision h5{
    color: crimson;
    font-size: 25px;
    font-weight: bold;
    font-family:"Latin Modern Roman";
    max-width: 250%;
   
}
#ParrafoMision p{

 font-family:"Latin Modern Roman";
 color: black;
 font-size: 15pt;

}

#imagenVision img{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 19% 99%);
    width: 96%;
    max-width: 960px;
    margin-left: 25px;
}

#parrafo2 h5{
    color: crimson;
    font-size: 25px;
    font-weight: bold;
    font-family:"Latin Modern Roman";
    max-width: 250%;

}
#parrafo2 p{

    font-family:"Latin Modern Roman";
    color: black;
    font-size: 15pt;

}
#parrafo2{

    padding-left: 50px;
    padding-right: 30px;
    padding-top: 60px;
}


#rowPrimero{

    margin-top: 50px;
}
#rowVision{

    margin-top: 80px;
    margin-bottom: 130px;
}

@media only screen and (min-width:480px) and (max-width:767px){

#imagenMisión img{
    clip-path: none;
}
#imagenMisión{
    
    padding-right: 17px;
}
#titulo h5{

    margin-top: 15px;
}
#rowPrimero{
    margin-top: 10px;
}
#ParrafoMision{

    padding-top: 20px;
}
#rowVision{

    margin:0px;
}
#parrafo2{
    padding: 0;
    padding-left: 10px;
}
#parrafo2 p{

    font-size: 18px;

}
#ParrafoMision p{
    font-size: 18px;
}
#parrafo2 h5{
    font-size: 20px;
}
#ParrafoMision h5{
    font-size: 20px;
}
#imagenVision img{

    clip-path: none;
    margin-left: 10px;
    margin-bottom: 40px;

}

}

@media only screen and (min-width:360px) and (max-width:479px){

    #imagenMisión img{
        clip-path: none;
    }
    #imagenMisión{
        
        padding-right: 17px;
    }
    #titulo h5{
    
        margin-top: 15px;
    }
    #rowPrimero{
        margin-top: 10px;
    }
    #ParrafoMision{
    
        padding-top: 20px;
    }
    #rowVision{
    
        margin:0px;
    }
    #parrafo2{
        padding: 0;
        padding-left: 10px;
    }
    #parrafo2 p{
    
        font-size: 18px;
    
    }
    #ParrafoMision p{
        font-size: 18px;
    }
    #parrafo2 h5{
        font-size: 20px;
    }
    #ParrafoMision h5{
        font-size: 20px;
    }
    #imagenVision img{
    
        clip-path: none;
        margin-left: 10px;
        margin-bottom: 40px;
    
    }


}



